<div class="alert alert-success" role="alert">{{{t 'conference.registration.accept.success'}}}</div>

{{#link-to 'cfregistration.find' conference.id class="btn btn-primary"}}{{t 'Return'}}{{/link-to}}