<div class="row">
  <div class="col-md-12">
    {{#link-to 'cfregistration.unRegister' conference.id class="btn btn-default text-danger"}}{{t 'cfregistration.un-register'}}{{/link-to}}
  </div>
</div>

{{{t 'conference.registration.registered'}}}