<div class="text-center">
  <p>{{{t 'cflink.delete.confirm.msg'}}}</p>
  <form method="post">
    <button class="btn btn-danger">{{t 'Delete'}}</button>
    <input name="redirectTo" type="hidden" value="/conference/{{conference.id}}/admin/menu/{{req.params.cfmenuId}}">
  </form>
</div>