<ul class="list-inline">
  {{#each widget.partners}}
    <li>
    {{#if link}}
      <a target="_blank" href="{{link}}">{{#each logo}}{{we-image this 'medium'}}{{/each}}</a>
    {{else}}
      {{#each logo}}{{we-image this 'medium'}}{{/each}}
    {{/if}}
    </li>
  {{/each}}
</ul>