<p>Hello {{cfcontact.name}},<p>
<p>Thank you for contacting us.</p>
<p>We have received your message in conference {{conference.title}}.</p>

<br>
- The <strong>{{conference.title}}</strong> Team <br>
- {{conference.title}}