Hello {{ user.name }},

<p>Thank you for contacting us.</p>
<p>We have received your enquiry and will respond to you within 24 hours. For urgent enquiries please call us on one of the telephone numbers below.</p>

<br>
- The <strong>{{site.name}}</strong> Team <br>
- {{site.url}}