<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-pills">
      {{#each eventLayouts}}
        <li role="presentation">
          {{#link-to 'event_admin_layout' ../event.id @key}}{{@key}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>