<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label for="createdAt" class="control-label">Data Criação</label>
          <p class="form-control-static">{{we-date record.createdAt }}</p>
        </div>
        <div class="form-group">
          <label for="name" class="control-label">Nome</label>
          <p class="form-control-static">{{ record.name }}</p>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <p class="form-control-static">{{ record.email }}</p>
        </div>
        <div class="form-group">
          <label for="message" class="control-label">Mensagem</label>
          <p class="form-control-static">{{ record.message }}</p>
        </div>
      </div>
    </div>
  </div>
</div>