<div class="bs-docs-header">
  <div class="container">
    <h1>{{project.title}}</h1>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9">
      {{outlet}}
    </div>
    <div class="col-md-3">
      {{{project.menu}}}
    </div>
  </div>
</div>