<div class="cftopics text-center">
  {{#we-grid items=data cols=3}}
      <div class="icon-wrap">
        {{#each image}}
          <img src="{{urls.original}}">
        {{/each}}
      </div>
      <h3>{{title}}</h3>
      <hr>
      <p>{{{about}}}</p>
  {{/we-grid}}
</div>
