{{#with data}}
<div class="icon-wrap">
  {{#each logo}}
    {{{we-image this 'medium' class="thumbnail"}}}
  {{/each}}
</div>
<div class="actions">
  {{we-action-edit-btn 'cfpartner' this ../req eventId id }}
  {{we-action-delete-btn 'cfpartner' this ../req eventId id }}
</div>
{{/with}}