<p>Oi {{cfcontact.name}},<p>

<p>Obrigador por entrar em contato.</p>

<p>A sua mensagem foi enviada com sucesso para o evento {{event.title}} .</p>

<br>
- Equipe <strong>{{event.title}}</strong> <br>
- {{event.title}}