<div class="row">
  <div class="col-lg-12 actions">
    {{we-action-create-btn model req event.id}}
  </div>
</div>

{{#we-grid items=data cols=3}}
  <div class="cfvideo-teaser">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="{{embedUrl}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3>{{#link-to 'cfvideo.findOne' eventId id}}{{title}}{{/link-to}}</h3>
  </div>
{{/we-grid}}