{{#widget-wrapper widget}}
  <div class="multimedia">
    <div class="container">
      <div class="row mt20">
        <div class="col-md-6">
          <div class="video">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="{{widget.cfvideo.embedUrl}}" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-6 wow fadeInRight animated" data-wow-animation-name="fadeInRight" style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <h1>{{widget.cfvideo.title}}</h1>
          <hr>
          <div>{{{widget.cfvideo.description}}}</div>
        </div>
      </div>
    </div>
  </div>
{{/widget-wrapper}}

