.event-teaser {
  margin: 5px 0px 15px 0px;
  background-color: #fff;
  padding: 10px;
  /*border: 1px solid #ccc;*/
}
.event-teaser > h3 {
  margin-top: 0px;
}
.cf-closed_after {
  background-color: #ddd;
}
.event-teaser .img-responsive{
  margin: 0px 0px 10px 0px
}
.table-full-width {
  width: 100%;
}
.table-full-width th, .table-full-width td {
  padding: 2px 5px;
}
.events-actions {
  margin-bottom: 5px;
}
.event-dates {
  margin-top: 15px;
}
.events-search {
  padding: 3px;
}

/* Event tags */
.event-tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.event-tags li {
  float: left;
}
.event-tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #000;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.event-tag:hover {
  outline: inherit;
  text-decoration: none;
}
.event-tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.event-tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.event-tag:hover {
  background-color: #34495E;
  color: white;
}
.event-tag:hover::after {
   border-left-color: #34495E;
}