<div class="cfspeaker">
  <div class="icon-wrap">
    {{#each data.picture}}
      {{{we-image this 'medium' class="article-featured-image thumbnail"}}}
    {{/each}}
  </div>
  <div>{{{data.about}}}</div>
  <div class="actions">
    {{we-action-edit-btn 'cfspeaker' data req data.eventId data.id }}
    {{we-action-delete-btn 'cfspeaker' data req data.eventId data.id }}
  </div>
</div>