{{#widget-wrapper widget}}
  <div class="multimedia">
    <div class="container">
      <div class="row mt20">
        <div class="col-md-6 wow fadeInLeft animated" data-wow-animation-name="fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
          <div class="video">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sMyokl6YJ5U" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-6 wow fadeInRight animated" data-wow-animation-name="fadeInRight" style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <h1>Video</h1>
          <p class="lead">lorem ipsum</p>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ea, illum, consequatur, sunt rem unde odio debitis veritatis porro dolores ipsam repudiandae officia praesentium vitae cupiditate perferendis possimus laboriosam ducimus.</p>
        </div>
      </div>
    </div>
  </div>
{{/widget-wrapper}}

