<div class="row text-center">
  {{#each event.topics}}
    <div class="col-md-4 wow bounceIn" data-wow-delay=".4s">
      <div class="icon-wrap">
        {{#each image}}
          <img src="{{urls.original}}">
        {{/each}}
      </div>
      <h3>{{title}}</h3>
      <hr>
      <p>{{{about}}}</p>
    </div>
  {{/each}}
</div>